
<div class="overview-page health">
		<section class="container-full">
			<div class="container">
				<div class="container-inner">
											<h1>{{ page_title }}</h1>
                       {{ pages.shop-health.content }}
									</div>
				<section class="search" id="search-area">
	<div class="container">
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
     <div class="search-dropdown2">
    <form action="/search" method="get">
      <div class="input-outer">
        <input type="hidden" name="type" value="product" />
        <input type="text" name="q" class="search_field icon icon-search" value="" maxlength="128" placeholder="WHAT PRODUCT ARE YOU SEARCHING FOR?">
        <button type="submit" title="" class="search-title">Search</button>
      </div>
     								
    </form>
  </div>
	</div>
	</div>
      </div>
	</section></div>
		</section>

		<section class="container-full shop-by-category">

			<div class="container">
				<div class="container-inner">
					<h2>Product Category</h2>

					<div class="dotted-line"></div>

					<p>Shop easily by your chosen category!</p>
				</div>
												<ul>
               {% for link in linklists.product-category.links %}
   <li>{{ link.title | link_to: link.url }}</li>
{% endfor %}
							
					</ul>
				
			</div>

										<img alt="" class="image-left" src="//cdn.shopify.com/s/files/1/1374/7199/files/goal-left.png">
			
										<img alt="" class="image-right" src="//cdn.shopify.com/s/files/1/1374/7199/files/goal-right.png">
			
		</section>
		<!-- .shop-by-category -->

		<section class="container-full shop-by-goal">
			<div class="container">
				<div class="container-inner">
					<h2>Health Goal</h2>

					<div class="dotted-line"></div>

					<p>Whatever your health goal, we’re here to help</p>

				</div>

														<ul>
                         {% for link in linklists.health-goal.links %}
   <li>{{ link.title | link_to: link.url }}</li>
{% endfor %}
					
					</ul>
							</div>
			<!-- container -->
						
								</section>
		<!-- .shop-by-goal -->

		<section class="container-full sport-specific">
			<div class="container">
				<div class="container-inner">
					<h2>Top Brands</h2>

					<div class="dotted-line"></div>

					<p>We have carefully sourced over 50 premium brands from all over the world, here is some of our top health brands</p>
				</div>
									<ul>
                                     
                                      {% for link in linklists.health-top-brand.links %}
   <li>{{ link.title | link_to: link.url }}</li>
{% endfor %}
              </ul>
							</div>
						
									<!-- container -->
		</section>
		<!-- .sport-specific -->

		<section class="container-full top-picks">
			<div class="container">
				<div class="container-inner">
					<h2>Diet and Lifestyle</h2>

					<div class="dotted-line"></div>

					<p>Whether you’re gluten free, dairy free, vegan or paleo, we’ve got the right products to suit your diet and lifestyle.</p>
				</div>
				<div class="picks-container">
				<ul>
                   {% for link in linklists.top-picks.links %}
   <li>{{ link.title | link_to: link.url }}</li>
{% endfor %}
					</ul>
				</div>
			</div>
		</section>
		<!-- .top-picks -->

	</div>