{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon_enable_pass %}
      <link rel="shortcut icon" href="{{ 'favicon_pass.png' | asset_url }}" type="image/png" />
    {% endif %}

    {% if settings.enable_custom_fonts %}
      {{ 'fonts.js' | asset_url | script_tag }}
    {% else %}
      {% include "header-fonts" %}
    {% endif %}

    {% include 'header-css' %}

    {{ 'modernizr.js' | asset_url | script_tag }}
    <!-- jQuery 1.10.1-->
    {{ 'jquery-2.1.4.min.js' | asset_url | script_tag }}
    {{ 'jquery.cookie.js' | asset_url | script_tag }}

    {{ content_for_header }}
  </head>

  <body>
    <header id="header" class="header-layout-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <!-- logo start --> 
            <img class="logo img-responsive1" src="{{ "logo_pass.png" | asset_url }}" alt=""/>
            <!-- logo end --> 
          </div>					
        </div>
      </div>			
    </header>
    
    <div id="pageContent">
      <section class="container-fluid under-construction image-bg" data-image="{{ 'parallax_pass.png' | asset_url }}">
        <div class="text-center color-white">
          <div class="divider divider--xl-1"></div>
          <h1 class="font50 color-white title-bottom-md">{{ settings.title_pass }}</h1>
          
          <!-- countdown_box -->
          {% assign date = settings.countdown_pass | split: ' ' | first | split: '/' %}
          {% assign time = settings.countdown_pass | split: ' ' | last | split: ':' %}
          <div class="countdown-transparent">
            <div id="countdownpass"></div>
          </div>
          <script>
            jQuery(function ($) {
              // countdown ini
              var yyyy = {{ date[0] }};
              var mm = {{ date[1] | minus:1 }};
              var dd = {{ date[2] }};
              var hour = {{ time[0] }};
              var min = {{ time[1] }};
              var sec = {{ time[2] }};

              var sH = {{'now' | date: "%H" }};//s = shopify
              var sD = {{'now' | date: "%-d" }};
              var sM = {{'now' | date: "%m" }};
              var sY = {{'now' | date: "%Y" }};

              var qH = new Date();
              var qD = qH.getDate();//q = jQuery
              var qM = qH.getMonth() + 1;
              var qY = qH.getFullYear();
              var qH = qH.getHours();

              if(qD > sD) {
                qH += 24;
              }
              else {
                if(qD < sD) {
                  if(qM > sM) {
                    qH += 24;
                  }
                  else {
                    if(qY > sY) {
                      qH += 24;
                    }
                    else {
                      sH += 24;
                    }
                  }
                }
              }

              var fH = sH - qH;

              if ($("#countdownpass").length > 0){$('#countdownpass').countdown({until: new Date(yyyy, mm, dd, hour, min, sec), timezone: fH});}
            });
          </script>
          
          <div class="divider divider--lg"></div>
          <!-- /countdown_box --> 
          
          <p class="font22">{{ settings.text_pass }}</p>
          <div class="divider divider--lg"></div>
          <h2 class=" color-white">{{ settings.title_nws_pass }}</h2>
          <p>{{ settings.text_nws_pass }}</p>
          <div class="divider divider--xs"></div>
          <!-- subscribe-box -->
          <div class="subscribe-full-center">
            <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
              <input class="form-control" type="text" name="EMAIL">
              <button type="submit" class="btn btn--ys btn--xl">{{ "newsletter.general.button" | t }}</button>
            </form>
          </div>
          <!-- /subscribe-box -->
          <div class="divider divider--lg"></div>
          <h2 class=" color-white">{{ settings.title_pass_pass }}</h2>
          <div class="divider divider--xs"></div>
          <div class="subscribe-full-center">
            {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <input class="form-control" type="password" name="password">
            <button type="submit" class="btn btn--ys btn--xl">{{ settings.button_pass }}</button>
            {% endform %}
          </div>
          {{ settings.social_pass }}
          <div class="divider divider--xl"></div>
        </div>
      </section>

    </div>
    
    <footer class="layout-7">			
      <!-- footer-copyright -->
      <div class="container footer-copyright text-center">
        <div class="row">
          <div class="col-lg-12">{{ settings.footer_address_pass }}</div>
        </div>
      </div>
      <!-- /footer-copyright --> 
      <a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop">Back to top <span class="icon icon-expand_less"></span></a> 
    </footer>
    
	{% include 'preloader-main' %}
    {% include 'header-js' %}
    <script>
      if(jQuery('.storefront-password-form').length) jQuery('.storefront-password-form').addClass('form-inline');
    </script>
  </body>
</html>
